/* style.css */

h2 {
  font-size: 2.3em;
}

.error {
  color: red;
  font-size: 1.5em;
}

.main_menu ul {
  display: table; 
  width: 100%;
}

.main_menu li {
  display: table-cell;
}

.main_menu ul li a { 
  text-align: center;            
}